<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, otherStaticResources, mainContent)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Stage BTS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}" href="../../static/css/general.css"/>
    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
<body>
    <header>
        <h2>Stage BTS</h2>
        <h3>Bienvenue sur la page de gestion des stages</h3>
        <div></div>
    </header>
    <section>
        <nav>
            <ul>
                <li><a id="onglet_accueil" href="#">Accueil</a></li>
                <li><a id="onglet_entreprise" href="#">Entreprise</a></li>
                <li><a id="onglet_stagiaire" href="#">Stagiaire</a></li>
                <li><a id="onglet_inscrire" href="#">Inscription</a></li>
                <li><a id="onglet_aide" href="#">Aide</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </nav>
        <div id="main-content" th:insert="${mainContent} ?: ~{}"></div>

    </section>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>