html, body {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #EEE;
    font-family: 'Courier New', verdana;
}

.nav {
    background-color: #222;
    width: 230px;
    height: 100%;
    display: block;
    color: white;
    border-right: 5px solid #3060FF;
    position: fixed;
    top: 0px;
    transition-property: left;
    transition-duration: 0.4s;
}

.nav:hover {
    left: 0px;
}

.nav:not(:hover) {
    left: -160px;
}

.nav a {
    padding: 17px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    white-space: nowrap;
    height: 23px;
    text-align: right;
}

.nav a.actif {
    background-color: #3050F0;
}

.nav a:hover {
    background-color: #404040;
}

.nav a:hover.actif {
    background-color: #4060FF;
}

.nav a::after {
    background-position: center center;
    background-size: 30px 30px;
    content: " ";
    margin: -6px 0px -6px 20px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.nav .bottom {
    position: absolute;
    bottom: 22px;
    left: 0px;
    right: 0px;
}

.nav ul {
    list-style: none;
    padding: 0px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

#onglet_accueil::after {
    background-image: url(../icons/home.png);
}

#onglet_entreprise::after {
    background-image: url(../icons/entreprise.png);
}

#onglet_stagiaire::after {
    background-image: url(../icons/stage.png);
}

#onglet_inscrire::after {
    background-image: url(../icons/inscrire.png);
}

#onglet_aide::after {
    background-image: url(../icons/aide.png);
}

#onglet_deconnection::after {
    background-image: url(../icons/deconnexion.png);
}

#icon_droite::after {
    background-image: url(../icons/droite.png);
}

#icon_gauche::after {
    background-image: url(../icons/gauche.png);
}

#corps {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 300px;
    right: 0px;
    margin-top: 30px;
}

.reduit .nav {
    width: 70px;
}

.reduit .nav a span {
    display: none;
}

.reduit #corps {
    left: 75px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;

}

.header {
    text-align: center;
    color: #3040A0;
    padding-top: 20px;
}

hr {
    margin: 20px 0px 20px 0px;
    border: 0px solid black;
    border-top: 2px solid #183080;
}

article p {
    background-color: #DDD;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

article h2 {
    margin: 20px 35px 10px 35px;
}

#contenu {
    padding: 0px 30px 30px 30px;
}

.center {
    text-align: center;
    display: block;
}

.important {
    color: red;
    font-weight: bold;
    display: inline-block;
}

.deux_colonnes {
    margin: auto;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.message, .connection {
    background-color: #222;
    border-radius: 5px;
    color: white;
    padding: 20px 30px 20px 30px;
    margin: auto;
}

.message h1 {
    text-align: center;
    margin-top: 5px;
}

.connection {
    margin-top: 100px;
}

.information {
    background-color: #CCCCFF;
    border: 1px solid #AAAADD;
    border-radius: 5px;
    padding: 0px 15px 15px 15px;
    margin: 0px 10px 10px 0px;
}

.left {
    text-align: left;
}

.aide {
    background-color: #CCFFCC;
    border: 1px solid #AADDAA;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.nav:hover + #main-content {
    margin-left: 230px;
    width: calc(100% - 230px);
}

.nav:not(:hover) + #main-content {
    margin-left: calc(230px - 160px);
    width: calc(100% - 230px + 160px);
}

#main-content {
    transition-property: margin-left, width;
    transition-duration: 0.4s;
}

#entreprise-main-content {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer {
    margin-left: 20px;
}
