<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment( ~{::title}, ~{::script},  ~{:: #page-header},~{:: #entreprise-main-content})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${modification} ? 'Modification d\'entreprise' : 'Création d\'entreprise'"></title>
</head>
<body>
<div id="entreprise-main-content">
    <form th:action="${modification} ? '/entreprise/postModification' : '/entreprise/postAjouter'" method="post"
          class="list">
        <input type="hidden" name="id"
               th:value="${entreprise != null && entreprise.numEntreprise != null} ? ${entreprise.numEntreprise} : ''">
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th colspan="2">Information</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="raison_sociale">Nom de l'entreprise
                            <div class="important">*</div>
                            :</label>
                    </td>
                    <td>
                        <input type="text" id="raison_sociale" name="raison_sociale"
                               th:value="${entreprise != null && entreprise.raisonSociale != null} ? ${entreprise.raisonSociale} : ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nom_contact">Nom du contact : </label>
                    </td>
                    <td>
                        <input type="text" id="nom_contact" name="nom_contact"
                               th:value="${entreprise != null && entreprise.nomContact != null} ? ${entreprise.nomContact} : ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nom_resp">Nom du responsable : </label>
                    </td>
                    <td>
                        <input type="text" id="nom_resp" name="nom_resp"
                               th:value="${entreprise != null && entreprise.nomResp != null} ? ${entreprise.nomResp} : ''">
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th colspan="2">Contact</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="rue">Rue
                            <div class="important">*</div>
                        </label>
                    </td>
                    <td>
                        <input type="text" id="rue" name="rue"
                               th:value="${entreprise != null && entreprise.rueEntreprise != null} ? ${entreprise.rueEntreprise} : ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cp">Code postal
                            <div class="important">*</div>
                            : </label>
                    </td>
                    <td>
                        <input type="text" id="cp" name="cp"
                               th:value="${entreprise != null && entreprise.cpEntreprise != null} ? ${entreprise.cpEntreprise} : ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ville">Ville
                            <div class="important">*</div>
                            : </label>
                    </td>
                    <td>
                        <input type="text" id="ville" name="ville"
                               th:value="${entreprise != null && entreprise.villeEntreprise != null} ? ${entreprise.villeEntreprise}: ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="tel">Téléphone
                            <div class="important">*</div>
                            : </label>
                    </td>
                    <td>
                        <input type="tel" id="tel" name="tel"
                               th:value="${entreprise != null && entreprise.telEntreprise != null} ? ${entreprise.telEntreprise} : ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="fax">Fax : </label>
                    </td>
                    <td>
                        <input type="tel" id="fax" name="fax"
                               th:value="${entreprise != null && entreprise.faxEntreprise != null} ? ${entreprise.faxEntreprise}: ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email : </label>
                    </td>
                    <td>
                        <input type="email" id="email" name="email"
                               th:value="${entreprise != null && entreprise.email != null} ? ${entreprise.email} : ''">
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th colspan="2">Divers</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="observation">Observation : </label>
                    </td>
                    <td>
                        <textarea rows="2" id="observation" name="observation"
                                  th:value="${entreprise != null && entreprise.observation != null} ? ${entreprise.observation} : ''"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="site">Url du site : </label>
                    </td>
                    <td>
                        <input type="url" id="site" name="site"
                               th:value="${entreprise != null && entreprise.siteEntreprise != null} ? ${entreprise.siteEntreprise} : ''">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="niveau">Niveau
                            <div class="important">*</div>
                            : </label>
                    </td>
                    <td>
                        <input type="text" id="niveau" name="niveau"
                               th:value="${entreprise != null && entreprise.niveau != null} ? ${entreprise.niveau} : ''">
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th colspan="2">Spécialité</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="specialite">Spécialité : </label>
                    </td>
                    <td>
                        <select id="specialite" name="specialite" multiple>
                            <option th:each="spec : ${specialitesList}" th:value="${spec.libelle}"
                                    th:text="${spec.libelle}"></option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="aide">Les champs comportant le symbole
            <div class="important">*</div>
            sont obligatoire
        </div>
        <input type="submit" th:value="${modification} ? 'Modifier' : 'Ajouter'">
    </form>
</div>
</body>
</html>